@mixin button-tag {
  padding: 0;
  border: none;
  background-color: white;
  font-size: 16px;
}

$gray-text: #999999;

$gray-border: #efefef;

$background: #fafafa;

@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
